header {
  border-bottom: 1px solid #ededef;
}

.info-bar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  align-items: center;
}

.info-bar__icons {
  width: 15px;
  display: flex;
  padding-right: 45px;
}
.info-bar__icons img {
  width: 30px;
  height: 15px;
  margin-right: 5px;
}

.info-bar__time {
  font-size: 12px;
  font-weight: bold;
}

.menu-bar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar__location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
}
.menu-bar__location img {
  width: 25px;
}

.menu-bar__location-icon {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar__icons img {
  width: 25px;
  margin-right: 15px;
}
