:root {
  --main-color: rgb(38, 148, 77);
  --sub-color: rgb(100, 100, 100);
}

div {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
}
div:hover img {
  transform: rotateX(360deg);
  width: 400px;
}

@keyframes moving-logo {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(3) rotateX(360deg);
  }
  50% {
    transform: scale(0.5);
  }
  75% {
    transform: translateX(-100px);
  }
  100% {
    transform: scale(3);
  }
}

img {
  width: 200px;
  animation: moving-logo 3s infinite;
}

div:hover {
  background-color: aqua;
}

#info-msg {
  opacity: 0;
}

@media screen and (max-width: 100px) {
  div {
    opacity: 0;
  }
  #info-msg {
    opacity: 1;
  }
}
